<div class="row">
  <div class="container">
    <form class="col s12" method="post" action="/blog">
      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder='text' name="text" cols="200" rows="10" style="color:black;background-color:white"></textarea>
          <input class="btn waves-effect waves-light" type="submit" name="action" value="SENT">
        </div>
      </div>
    </form>
  </div>
</div>