html {
    height: 100%;
    background-color: whitesmoke;
  }


  
  h1,h2,h3,h4,h5,h6,body {
    line-height: 1.57;
      letter-spacing: 0.15em;
      font-size: 16px;
      color: dark;
      font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
      margin: 0;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
  
    main {
      flex: 1 0 auto;
    }
    .page-footer{
      bottom: 0;
      width: 100%;
    }